.intro {
	padding: 150px 12%;

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}

	h2 {
		padding: 40px 0 90px 0;

		@include media-breakpoint-down(sm) {
			padding: 0 0 20px 0;
		}
	}

	p {
		max-width: 340px;

		@include media-breakpoint-down(sm) {
			max-width: 100%;
		}
	}

	img {
		width: 450px;
	}
}


.single-service {
	height: 300px;
	postion: relative;
	transition: ease-in-out 0.5s;

	@include media-breakpoint-down(sm) {
		height: auto;
	}

	&:hover {
		opacity: 0.6;
	}

	&--content {
		max-width: 180px;
		position: absolute;
		bottom: 30%;
	    left: 0;
	    right: 0;
	    margin: 0 auto;

	    @include media-breakpoint-down(sm) {
	    	position: relative;
	    	bottom: 0;
	    	padding: 60px 0;
	    }

		p { 
			color: white;
			-webkit-font-smoothing: antialiased;
		}

		hr {
			border-top: 5px solid white;
			margin: 0;
		}
	}

	&--text {
		
	}

	&:nth-child(1) { background-color: $pink; 	}
 	&:nth-child(2) { background-color: $purple; }
 	&:nth-child(3) { background-color: $mint; 	}
 	&:nth-child(4) { background-color: $mint; 	}
 	&:nth-child(5) { background-color: $pink; 	}
 	&:nth-child(6) { background-color: $purple; }

 	@include media-breakpoint-down(sm) {
 		&:nth-child(4) { background-color: $pink; 	}
	 	&:nth-child(5) { background-color: $purple; 	}
	 	&:nth-child(6) { background-color: $mint; }
 	}
}



.clients {
	padding: 150px 12%;

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}

	.single-clients {
		padding: 50px 0;
		text-align: center;

		img {
			max-width: 50%;
			max-height: 100px;
			position: relative;
		    top: 50%;
		    transform: translateY(-50%);
		}
	}
}



.contact {
	padding: 75px 12%;
	background-color: $mint;
	background-image: url('../../images/waves.png');
	background-size: 15%;
	background-position: 100% 90%;
	background-repeat: no-repeat;

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
		background-image: none;
	}


	p {
		color: white;
	}


	.wpcf7-form {
		padding-right: 26%;

		@include media-breakpoint-down(md) {
			padding: 0;
			margin-bottom: 30px;
		}

		.d-inline-block {
			vertical-align: middle;
		}

		input, textarea {
			background-color: transparent;
			border: 0;
			-webkit-appearance: none;
			outline: 0;
			color: white;
			font-family: $Montserrat;
			font-size: $paragraph-size;

			&-webkit-autofill {
				background-color: transparent !important;
			}
		}

		textarea {
			resize: none;
			border: 1px solid white;
			width: 100%;
			margin-bottom: 15px;
			padding: 5px;
		}

		input[type="text"], input[type="email"] {
			border-bottom: 1px solid white;
			margin-bottom: 15px;
			height: 16px;
			padding-left: 5px;

			&.tel-input { 
				width: calc(100% - 80px);

				@include media-breakpoint-down(lg) { width: 100%; }
			}

			&.email-input { 
				width: calc(100% - 170px); 

				@include media-breakpoint-down(lg) { width: 100%; }
			}
		}

		input[type="submit"] {
			-webkit-appearance: none;
			width: 100%;
			background-color: $purple;
			color: white;
			text-align: center;
			padding: 10px 0;
			transition: ease-in-out 0.5s;

			&:hover {
				opacity: 0.6;
			}

		}
	}


	.contact-information {
		.d-inline-block {
			vertical-align: top;
		}

		img {
			max-height: 25px;
		}

		p {
			padding-left: 20px;
		}
	}
}