/*-------------------------------------------------
	| HELPER CLASSES
--------------------------------------------------*/

// Backgrounds
.background-block {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



// Lists
.list-unstyled {
	margin: 0;
	padding-left: 0;
	list-style: none;
}



// Inline Items (extra to bootstrap class)
.d-inline-block {
	vertical-align: top;
}



// Text Style
.uppercase { text-transform: uppercase; }

.double-padding { padding-bottom: 30px; }