/*-------------------------------------------------
	| HELPER CLASSES
--------------------------------------------------*/

// Backgrounds
.background-block {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



// Lists
.list-unstyled {
	margin: 0;
	padding-left: 0;
	list-style: none;
}


// Text Style
.uppercase { text-transform: uppercase; }

.no-underline {
	&:hover {
		text-decoration: none;
	}
}

.double-padding { padding-bottom: 30px; }
.margin-top { margin-top: 15px; }
.margin-top-double { margin-top: 30px; }