/*-------------------------------------------------
	| HELPER CLASSES
--------------------------------------------------*/

// Backgrounds
.background-block {
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}



// Lists
.list-unstyled {
	margin: 0;
	padding-left: 0;
	list-style: none;
}



// Inline Items
.d-inline {
	display: inline-block;
	margin-left: -4px;

	&:first-child {
		margin-left: 0;
	}
}



// Text Style
.uppercase { text-transform: uppercase; }

.double-padding { padding-bottom: 30px; }