/*-------------------------------------------------
	| TYPOGRAPHY
--------------------------------------------------*/
	$Montserrat: 'Montserrat';
	$Montserrat-Light: 300;
	$Montserrat-Regular: 400;
	$Montserrat-Bold: 700;

	$h1-font-size: 65px;
	$h2-font-size: 60px;
	$h3-font-size: 24px;
	$h4-font-size: 24px;
	$heading-line-height: 1.2;
	$heading-colour: #ff2c42;

	$paragraph-size: 14px;
	$paragraph-colour: black;
	$paragraph-line-height: 1.2;

	$small-paragraph-size: 12px;



/*-------------------------------------------------
	| COLOURS
--------------------------------------------------*/
	$pink: #ff2c42;
	$purple: #5a2ed6;
	$mint: #00e3b4;

