/*-------------------------------------------------
	| TYPOGRAPHY
--------------------------------------------------*/
	$Montserrat: 'Montserrat';
	$Montserrat-Light: 300;
	$Montserrat-Regular: 400;
	$Montserrat-Bold: 700;

	$h1-size: 24px;
	$h2-size: 24px;
	$h3-size: 24px;
	$heading-line-height: 1.4;
	$heading-colour: blue;

	$paragraph-size: 16px;
	$paragraph-colour: black;
	$paragraphy-line-height: 1.2;

