footer {
	padding: 75px 12% 10px 12%;
	background-image: url('../../images/footer-background.png');
	position: relative;

	@include media-breakpoint-down(sm) {
		padding: 30px 15px;
	}



	.background-image {
		height: 40%;
		position: absolute;
		left: 8%;
		top: 30%;

		@include media-breakpoint-down(sm) {
			left: 0;
			right: 0;
			margin: 0 auto;
		}
	}



	li {
		color: white;
		padding-right: 10%;
		font-weight: $Montserrat-Light;

		@include media-breakpoint-down(lg) {
			padding-right: 15px;
		}
	}



	.social-icon {
		width: 30px;
		margin-left: 10px;
		transition: ease-in-out 0.2s;

		&:hover {
			opacity: 0.6;
		}

		@include media-breakpoint-down(md) {
			margin: 0;
		}
	}



	.copyright-info {
		li {
			padding: 0 10px;
			border-right: 1px solid white;
			font-size: $small-paragraph-size;

			&:last-child {
				border: 0;
			}

			@include media-breakpoint-down(sm) {
				border: 0;
			}
		}
	}
}