footer {
	padding: 75px 12% 10px 12%;
	background-image: url('../../images/footer-background.png');
	position: relative;



	.background-image {
		height: 40%;
		position: absolute;
		left: 8%;
		top: 30%;
	}



	li {
		color: white;
		padding-right: 10%;
		font-weight: $Montserrat-Light;

		@include media-breakpoint-down(lg) {
			padding-right: 15px;
		}
	}



	.social-icon {
		width: 30px;
		margin-left: 10px;

		@include media-breakpoint-down(md) {
			margin: 0;
		}
	}



	.copyright-info {
		li {
			padding: 0 10px;
			border-right: 1px solid white;
			font-size: $small-paragraph-size;

			&:last-child {
				border: 0;
			}
		}
	}
}