.top-banner {
	padding: 45px 70px;
	background: url('../../images/top-banner-bg.png');
	height: 100vh;

	header {
		img {
			width: 40px;
		}
	}

	&--content {
		position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	    right: 0;
	    left: 0;

		h1 {
			max-width: 500px;
			margin: 0 auto;
		}

		hr {
			border-top: 10px solid $main-colour-pink;
			width: 200px;
		}
	}
}